################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/PanoramaVideo/Python 2.7
*.mp4
*.jpg
/PanoramaVideo/__pycache__
*.pyproj
*.sln
